.title {
    color: rgb(0, 91, 144);
    font-size: 20px;
    font-style: bold;
    margin: 20px 20px;
}

.table th {
    width: 300px;
    text-align: center;
    white-space: nowrap;
}

.table td {
    text-align: center;
}
