.main-selection {
    display: flex;
    width: auto;
    height: 30px;
}

.title {
    color: rgb(0, 91, 144);
    font-size: 20px;
    font-style: bold;
    margin: 20px 20px;
}

.selector-service,
.selector-status,
.selector-pelanggan,
.selector-accountMarketing {
    margin-right: 20px;
    margin-left: 20px;
    width: 300px; /* Adjust margin as needed */
}

.calendar {
    width: 600px;
    height: 0px;
    margin: 0px 0px 0px 0px;
    padding: 20px;
    border-radius: 5px;
}

.filter_cal {
    background-color: rgb(0, 91, 144);
    color: white;
    border-radius: 4px;
    border: none;
    width: auto;
    height: 30px;
}

.searchBar {
    width: 300px;
    margin:-54px 0px 0px 570px;
}

.btn-search {
    border: none;
    border-radius: 4px;
    background-color: rgb(0, 91, 144);
    color: white;
    font-size: 20px;
    width: 50px;
}

.filters {
    margin-bottom: 20px;
}

.filters label {
    margin-right: 10px;
}

#calendar {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #f9f9f9;
}

.table-responsive {
    margin-left: 20px;
    margin-right: 20px;
}

.table th {
    background-color: rgb(0, 91, 144);
    color: white;
    text-align: center;
    white-space: nowrap;
}

.table tr {
    text-align: center;
    white-space: nowrap;
}